body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url('./watchennui.jpg');
}

#container {
    margin: 10% 10% 10% 10%;
    min-width: 80% !important;
    min-height: 80% !important;
    text-align: center;
}

#ennui {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #D1D1D1;
    border: none;
    color: #918181;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 24pt;
    border-radius: 30px;
}